textarea {
	width: 200px;
}

textarea:focus {
	outline-style: solid;
	outline-width: 2px;
}

#form-back {
	float: right;
}

.padding-10 {
	padding-top: 10px;
}
.parent-div {
	display:none;
	float: right;
	width: 50%;
}

#div-picklist-parent-values, 
#div-picklist-values {
	position: relative;
	margin: 0;
	padding: 0;
}

#parent-numbers,
#picklist-numbers {
	width: 25px;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0;
	border-right: 1px solid #9d9d9d;
	overflow: hidden;
	display: block;
	color: #9d9d9d;
	word-wrap: break-word;
	word-break: break-all;
	padding: 0 0 0 5px;
}

#parent-picklist-values,
#picklist-values {
	padding: 0 0 0 30px;
	font-family: monospace;
	line-height: 1.5;
	font-size: 11px;
}

.number {
	display: block;
	line-height: 1.4;
	font-size: 11px;
	margin-top: 1px;
	text-align: center;
}
