textarea {
	width: 200px;
}

textarea:focus {
	outline-style: solid;
	outline-width: 2px;
}

#form-back {
	float: right;
}

.padding-10 {
	padding-top: 10px;
}
.parent-div {
	display: none;
	float: right;
	width: 50%;
}

#parent-picklist-values,
#picklist-values {
	position: relative;
	line-height: 1.6;
	font-size: 13px;
	padding-top: 0;
	padding-bottom: 0;
}

body {
    padding-bottom: 100px;
}

#goTopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 5px 5px 5px 5px;;
	border-radius: 4px;
	top: auto;
  }
  
  #goTopBtn:hover {
	background-color: #555;
  }