textarea {
	padding: 10px;
	vertical-align: top;
	width: 200px;
}

textarea:focus {
	outline-style: solid;
	outline-width: 2px;
}

#form-back {
	float: right;
}

.line-numbers {
	background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment: local;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 10px;
	border-color:#ccc;
	font-size: 11.5px;
}
.padding-10 {
	padding-top: 10px;
}
.parent-div {
	display:none;
	float: right;
	width: 50%;
}